.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url('/static/common/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'), url('/static/common/fonts/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('/static/common/fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url('/static/common/fonts/SourceSansPro-LightIt.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/static/common/fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url('/static/common/fonts/SourceSansPro-It.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('/static/common/fonts/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/static/common/fonts/SourceSansPro-Bold.ttf') format('truetype');
}
#poly .inner-border {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#poly .btn-raise {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
}
#poly .btn-raise-hover {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -ms-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -o-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: linear-gradient(top, #e4e4e4, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f3f3f3', GradientType=0);
}
#poly .btn-raise-active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  -moz-box-shadow: inset 0 1px 0 #c4c4c4;
  -webkit-box-shadow: inset 0 1px 0 #c4c4c4;
  box-shadow: inset 0 1px 0 #c4c4c4;
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -ms-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -o-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: linear-gradient(top, #d7d7d7, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#f3f3f3', GradientType=0);
}
#poly .input-raise {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  margin: 0;
  padding: .4em 0 .5em;
  font-size: 0.95em;
}
.toast-container {
  width: 280px;
  z-index: 9999;
}
* html .toast-container {
  position: absolute;
}
.toast-item {
  display: block;
  height: auto;
  position: relative;
  font-weight: 600;
  margin-bottom: 1em;
  padding: .5em .7em;
  /**
   * toast types
   *
   * pattern: toast-type-[value]
   * where 'value' is the real value of the plugin option 'type'
   *
   */

}
.toast-item p {
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
  margin: 0;
  padding: 0;
  text-align: left;
}
.toast-item p A,
.toast-item p A:link,
.toast-item p A:visited {
  color: inherit;
  text-decoration: underline;
}
.toast-item .toast-item-close {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  height: 1em;
  width: 1em;
  position: absolute;
  right: 7px;
  top: 7px;
}
.toast-item .toast-item-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.toast-item.toast-type-notice,
.toast-item.toast-type-success {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #c4c4c4;
  box-shadow: 0 1px 0 #c4c4c4;
  -moz-text-shadow: 0 -1px 0 #316f2b;
  -webkit-text-shadow: 0 -1px 0 #316f2b;
  text-shadow: 0 -1px 0 #316f2b;
  background-color: #4fb145;
  background-image: -moz-linear-gradient(top, #52b848, #4aa640);
  background-image: -ms-linear-gradient(top, #52b848, #4aa640);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52b848), to(#4aa640));
  background-image: -webkit-linear-gradient(top, #52b848, #4aa640);
  background-image: -o-linear-gradient(top, #52b848, #4aa640);
  background-image: linear-gradient(top, #52b848, #4aa640);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b848', endColorstr='#4aa640', GradientType=0);
  background-color: #52b848;
  border: 1px solid #316f2b;
  color: white;
}
.toast-item.toast-type-warning,
.toast-item.toast-type-error {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #c4c4c4;
  box-shadow: 0 1px 0 #c4c4c4;
  -moz-text-shadow: 0 -1px 0 #b05008;
  -webkit-text-shadow: 0 -1px 0 #b05008;
  text-shadow: 0 -1px 0 #b05008;
  background-color: #f57a1f;
  background-image: -moz-linear-gradient(top, #f58029, #f47211);
  background-image: -ms-linear-gradient(top, #f58029, #f47211);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58029), to(#f47211));
  background-image: -webkit-linear-gradient(top, #f58029, #f47211);
  background-image: -o-linear-gradient(top, #f58029, #f47211);
  background-image: linear-gradient(top, #f58029, #f47211);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58029', endColorstr='#f47211', GradientType=0);
  background-color: #f58029;
  border: 1px solid #b05008;
  color: white;
}
/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
  position: fixed;
  left: 20px;
  top: 20px;
}
.toast-position-top-center {
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -140px;
}
.toast-position-top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}
.toast-position-middle-left {
  position: fixed;
  left: 20px;
  top: 50%;
  margin-top: -40px;
}
.toast-position-middle-center {
  position: fixed;
  left: 50%;
  margin-left: -140px;
  margin-top: -40px;
  top: 50%;
}
.toast-position-middle-right {
  position: fixed;
  right: 20px;
  margin-left: -140px;
  margin-top: -40px;
  top: 50%;
}
/* TOP-LEVEL ELEMENTS */
HTML,
BODY {
  color: #161616;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
  font-size: 1em;
  height: 100%;
}
H1,
H2,
H3 {
  font-family: "adelle", "serif";
}
H2 {
  font-size: 3.3em;
  font-weight: 100;
  line-height: 1.3em;
  margin-left: -0.05em;
}
H3 {
  color: #f58029;
  font-size: 2em;
  font-weight: normal;
  font-variant: all-caps;
  line-height: 1.1em;
  margin-bottom: 0.7em;
}
H4 {
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.3em;
}
H5 {
  font-weight: bold;
  margin-bottom: 1em;
}
SECTION {
  margin-bottom: 2em;
}
P {
  font-size: 0.95em;
  font-family: "garamond-premier-pro-caption", "georgia", "serif";
  line-height: 1.45em;
  max-width: 29em;
}
P.large {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-bottom: 0.8em;
}
A,
A:link,
A:visited {
  color: #f58029;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
  font-weight: 500;
  text-decoration: none;
}
A:hover,
A:active {
  color: #d7610a;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
  cursor: pointer;
  cursor: hand;
}
::selection {
  background: #e4e4e4;
}
INPUT,
TEXTAREA {
  color: #161616;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
}
::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
  font-size: 1.1em;
  font-weight: lighter;
  line-height: 1.1em;
  padding-top: -0.5em;
}
INPUT:-moz-placeholder {
  color: #c4c4c4;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
  font-weight: lighter;
  font-size: 0.95em;
}
.hidden {
  display: none;
}
SPAN.number {
  font-family: "Helvetica";
}
.mobile_on {
  display: none;
}
.mobile_off {
  display: block;
}
/* LAYOUT */
.container {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  padding: 0 1.5em 100px;
  position: relative;
  min-width: 64.5em;
}
HEADER,
.main {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
HEADER #logo,
.main #logo {
  float: left;
  max-width: 14em;
  margin-top: -8px;
}
HEADER.new {
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
  margin: 0 -1.5em;
  margin-bottom: 70px;
  padding: 17px 0 12px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
HEADER.new .main {
  font-size: 1.1em;
}
HEADER.new #logo {
  float: none;
  margin-top: -1px;
  max-width: 10em;
}
HEADER.new NAV {
  display: inline;
  float: right;
  margin: 1px -20px -50px;
}
HEADER.new NAV li {
  display: inline-block;
}
HEADER.new NAV a {
  padding: 0 20px;
  color: #1c1c1c;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
HEADER.new NAV #home {
  color: #62bf9c;
}
HEADER.new NAV a:hover,
HEADER.new NAV #home:hover {
  color: #3c9472;
}
#headerSpacing {
  height: 85px;
}
NAV A,
FOOTER A,
NAV A:link,
FOOTER A:link,
NAV A:visited,
FOOTER A:visited,
NAV A:active,
FOOTER A:active {
  font-weight: normal;
}
HEADER {
  margin: 0 auto 3em;
  padding-top: 2.3em;
  position: relative;
}
HEADER #social {
  position: absolute;
  right: 0;
  top: 0.6em;
}
HEADER #social A {
  margin-right: 0.5em;
}
HEADER #social A.last {
  margin-right: 0;
}
HEADER #social IMG {
  max-width: 1.1em;
}
HEADER NAV.topbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  -moz-box-shadow: 0 2px 2px #f3f3f3;
  -webkit-box-shadow: 0 2px 2px #f3f3f3;
  box-shadow: 0 2px 2px #f3f3f3;
  font-size: 1.1em;
  float: right;
  height: 1.75em;
  margin-top: 1px;
  overflow: hidden;
}
HEADER NAV.topbar UL,
HEADER NAV.topbar SECTION {
  float: left;
  height: 100%;
}
HEADER NAV.topbar LI {
  background-color: #f3f3f3;
  float: left;
  height: 100%;
}
HEADER NAV.topbar LI A {
  border-left: 1px solid #c4c4c4;
  color: #161616;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0 0.9em;
  position: relative;
}
HEADER NAV.topbar LI A:first-child {
  border-left: 1px solid transparent;
}
HEADER NAV.topbar LI A.withDropArrow {
  padding-right: 1.1em;
}
HEADER NAV.topbar LI A:hover,
HEADER NAV.topbar LI A.active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -ms-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -o-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: linear-gradient(top, #e4e4e4, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f3f3f3', GradientType=0);
}
HEADER NAV.topbar LI A:active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  -moz-box-shadow: inset 0 1px 0 #c4c4c4;
  -webkit-box-shadow: inset 0 1px 0 #c4c4c4;
  box-shadow: inset 0 1px 0 #c4c4c4;
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -ms-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -o-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: linear-gradient(top, #d7d7d7, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#f3f3f3', GradientType=0);
}
HEADER NAV.topbar LI A:hover,
HEADER NAV.topbar LI A:active,
HEADER NAV.topbar LI A.active {
  border: 0;
  border-left: 1px solid #c4c4c4;
}
HEADER NAV.topbar LI A:hover:first-child,
HEADER NAV.topbar LI A:active:first-child,
HEADER NAV.topbar LI A.active:first-child {
  border-left: 1px solid transparent;
}
HEADER NAV.topbar SECTION:first-child LI:first-child A {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 0;
}
HEADER NAV.topbar LI:last-child A {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid transparent;
}
HEADER NAV.topbar SECTION#navPages {
  border-right: 1px solid #c4c4c4;
}
HEADER NAV.topbar SECTION#navPages LI:first-child A {
  padding-left: 1.2em;
}
HEADER NAV.topbar SECTION#navPages LI:last-child A {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 1.3em;
}
HEADER NAV.topbar SECTION#navPages LI:last-child A .dropArrow {
  right: .65em;
}
HEADER NAV.topbar SECTION#navActions LI {
  background-color: #f3f3f3;
  border-left: 1px solid #c4c4c4;
}
HEADER NAV.topbar SECTION#navActions A:hover,
HEADER NAV.topbar SECTION#navActions A:active,
HEADER NAV.topbar SECTION#navActions A.active {
  border-left: 1px solid transparent;
}
HEADER NAV.topbar SECTION#navActions LI:first-child {
  border-left: none;
}
HEADER NAV.topbar SECTION#navActions LI:first-child A,
HEADER NAV.topbar SECTION#navActions LI:first-child A:hover,
HEADER NAV.topbar SECTION#navActions LI:first-child A:active,
HEADER NAV.topbar SECTION#navActions LI:first-child A.active {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
HEADER NAV.topbar SECTION#navPagesCondensed {
  display: none;
}
HEADER NAV.topbar LI A.btnIcon {
  display: block;
  height: 1.75em;
}
HEADER NAV.topbar LI A.btnIcon IMG.btnIcon {
  padding-top: .35em;
  width: 1.1em;
}
HEADER NAV.topbar .navBarsIcon {
  padding-top: 0;
}
HEADER NAV.topbar .navBarsIcon DIV.iconPart {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #353535;
  background-image: -moz-linear-gradient(top, #494949, #161616);
  background-image: -ms-linear-gradient(top, #494949, #161616);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494949), to(#161616));
  background-image: -webkit-linear-gradient(top, #494949, #161616);
  background-image: -o-linear-gradient(top, #494949, #161616);
  background-image: linear-gradient(top, #494949, #161616);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#161616', GradientType=0);
  height: 4px;
  margin-bottom: 3px;
  position: relative;
  top: .4em;
}
HEADER NAV.topbar .navBarsIcon DIV:last-child {
  margin-bottom: 0;
}
HEADER NAV.topbar DIV.dropArrow {
  border: transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #161616;
  height: 0;
  position: absolute;
  right: .5em;
  width: 0;
  top: .8em;
}
NAV.subnav A {
  color: #161616;
}
NAV.subnav UL {
  max-width: 100%;
}
NAV.subnav LI {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 1.7em;
  margin-bottom: 1px;
  padding: 0 0.1em;
  text-align: center;
  width: 19%;
}
NAV.subnav LI A {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #c4c4c4;
  display: block;
  height: 100%;
  margin-top: 0.7em;
  padding-top: 0.1em;
}
NAV.subnav LI A:hover {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -ms-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -o-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: linear-gradient(top, #e4e4e4, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f3f3f3', GradientType=0);
}
NAV.subnav LI A:active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  -moz-box-shadow: inset 0 1px 0 #c4c4c4;
  -webkit-box-shadow: inset 0 1px 0 #c4c4c4;
  box-shadow: inset 0 1px 0 #c4c4c4;
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -ms-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -o-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: linear-gradient(top, #d7d7d7, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#f3f3f3', GradientType=0);
}
NAV.subnav LI.selected {
  height: 2.5em;
  width: 24%;
}
NAV.subnav LI.selected A {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid #f58029;
  cursor: default;
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 2px;
  padding-top: 0.3em;
}
NAV.subnav LI.selected A:hover {
  background-color: white;
  background-image: none;
}
NAV.subnav LI.selected A:active {
  background-color: white;
  background-image: none;
}
NAV#condensedDrop .sectionName {
  font-weight: normal;
  font-style: italic;
}
NAV.dropdown {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15000000000000002);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15000000000000002);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15000000000000002);
  z-index: 1000;
  background-color: white;
  border: 1px solid #c4c4c4;
  min-width: 14em;
  padding: 0.5em 0;
  position: absolute;
  top: 5.25em;
}
NAV.dropdown:after,
NAV.dropdown:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
NAV.dropdown:after {
  border-bottom-color: #ffffff;
  border-width: 8px;
  left: 85%;
  margin-left: -8px;
}
NAV.dropdown:before {
  border-bottom-color: #c4c4c4;
  border-width: 10px;
  left: 85%;
  margin-left: -10px;
}
NAV.dropdown LI {
  margin: .2em 0;
}
NAV.dropdown A {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #161616;
  display: block;
  font-weight: 600;
  padding: 0 2em 0 0.8em;
  text-align: left;
}
NAV.dropdown A:hover {
  background-color: #e4e4e4;
  border-color: #c4c4c4;
}
.main DIV.fourCol DIV.cell {
  display: inline-block;
  margin: 0;
  margin: 0 2em 2em 0;
  margin-right: 2em;
  text-align: justified;
  vertical-align: top;
  width: 13.625em;
}
.main DIV.fourCol DIV.cell IMG {
  display: block;
  margin: 0 auto 1em;
}
.main DIV.fourCol DIV.cell H4 {
  font-size: 0.95em;
  font-weight: 700;
  height: 1.4em;
  text-align: center;
}
.main DIV.fourCol DIV.cell.last {
  margin-right: 0;
}
.threeCol .cell {
  display: inline-block;
  width: 31.1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 11em;
}
FOOTER {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1c1c1c;
  color: #c4c4c4;
  height: 100px;
  margin-top: -100px;
  min-width: 64.5em;
  padding: 24px 0 8px;
  position: relative;
  z-index: 10;
}
FOOTER A,
FOOTER A:link,
FOOTER A:visited {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-right: 2em;
}
FOOTER A:hover {
  color: #f58029;
}
FOOTER A.last {
  margin-right: 0;
}
FOOTER .main DIV {
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}
ASIDE {
  float: right;
  max-width: 31em;
}
ASIDE IMG.limited {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.content {
  float: left;
  max-width: 28em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearboth {
  clear: both;
}
.caps {
  text-transform: uppercase;
}
.mlb {
  margin-bottom: 1em;
}
.mxlb {
  margin-bottom: 2em;
}
.mmb {
  margin-bottom: 0.6em;
}
.msb {
  margin-bottom: 0.3em;
}
.mll {
  margin-left: 1em;
}
.mxll {
  margin-left: 2em;
}
.mml {
  margin-left: 0.6em;
}
.msl {
  margin-left: 0.3em;
}
.syncError {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #c4c4c4;
  box-shadow: 0 1px 0 #c4c4c4;
  -moz-text-shadow: 0 -1px 0 #b05008;
  -webkit-text-shadow: 0 -1px 0 #b05008;
  text-shadow: 0 -1px 0 #b05008;
  background-color: #f57a1f;
  background-image: -moz-linear-gradient(top, #f58029, #f47211);
  background-image: -ms-linear-gradient(top, #f58029, #f47211);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58029), to(#f47211));
  background-image: -webkit-linear-gradient(top, #f58029, #f47211);
  background-image: -o-linear-gradient(top, #f58029, #f47211);
  background-image: linear-gradient(top, #f58029, #f47211);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58029', endColorstr='#f47211', GradientType=0);
  background-color: #f58029;
  border: 1px solid #b05008;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0 .7em;
  position: relative;
  line-height: 2em;
  margin-bottom: 1em;
  text-align: center;
  top: -1em;
}
.syncError.info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #c4c4c4;
  box-shadow: 0 1px 0 #c4c4c4;
  -moz-text-shadow: 0 -1px 0 #316f2b;
  -webkit-text-shadow: 0 -1px 0 #316f2b;
  text-shadow: 0 -1px 0 #316f2b;
  background-color: #4fb145;
  background-image: -moz-linear-gradient(top, #52b848, #4aa640);
  background-image: -ms-linear-gradient(top, #52b848, #4aa640);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52b848), to(#4aa640));
  background-image: -webkit-linear-gradient(top, #52b848, #4aa640);
  background-image: -o-linear-gradient(top, #52b848, #4aa640);
  background-image: linear-gradient(top, #52b848, #4aa640);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b848', endColorstr='#4aa640', GradientType=0);
  background-color: #52b848;
  border: 1px solid #316f2b;
  color: white;
}
.syncError .close {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  float: left;
  margin-top: -0.525em;
  position: absolute;
  top: 50%;
  right: .5em;
  width: 1em;
}
.syncError .close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* BUTTONS AND UI ELEMENTS */
BUTTON.btn,
INPUT.btn {
  border: 0;
  cursor: pointer;
  font-family: "Source Sans Pro", "helvetica", "sans-serif";
}
.btn {
  display: inline-block;
  margin: 0 0 1em 0;
  outline: none;
}
.btn.large,
.btn.small {
  -moz-text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.2);
  background-color: #3c9472;
  color: white;
}
.btn.large {
  font-size: 18px;
  font-weight: 600;
  margin: 1.5em 0;
  padding: 0.7em 3em;
}
.btn.small {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 600;
  margin: .5em 0;
  padding: 0.4em 1em;
}
.btn.xsmall {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #161616;
  font-size: 0.95em;
  font-weight: normal;
  height: 1.8em;
  line-height: 1.4em;
  padding: .15em .8em .3em;
}
.btn.large:hover,
.btn.small:hover,
.btn.large:focus,
.btn.small:focus {
  background-color: #62bf9c;
}
.btn.xsmall:hover,
.btn.xsmall:focus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -ms-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: -o-linear-gradient(top, #e4e4e4, #f3f3f3);
  background-image: linear-gradient(top, #e4e4e4, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f3f3f3', GradientType=0);
}
.btn.large:active,
.btn.small:active {
  -moz-box-shadow: inset 0 2px 0 #3c9472;
  -webkit-box-shadow: inset 0 2px 0 #3c9472;
  box-shadow: inset 0 2px 0 #3c9472;
}
.btn.xsmall:active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #161616;
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  -moz-box-shadow: inset 0 1px 0 #c4c4c4;
  -webkit-box-shadow: inset 0 1px 0 #c4c4c4;
  box-shadow: inset 0 1px 0 #c4c4c4;
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -ms-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: -o-linear-gradient(top, #d7d7d7, #f3f3f3);
  background-image: linear-gradient(top, #d7d7d7, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#f3f3f3', GradientType=0);
}
.btn.groupall {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn.xsmall.groupleft {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: .1em;
}
.btn.xsmall.groupright {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn.warn {
  background-color: #f58029;
  -moz-box-shadow: 0.2em 0.2em 0 #c85b09;
  -webkit-box-shadow: 0.2em 0.2em 0 #c85b09;
  box-shadow: 0.2em 0.2em 0 #c85b09;
  background-color: #f5832e;
  background-image: -moz-linear-gradient(top, #f68e41, #f47211);
  background-image: -ms-linear-gradient(top, #f68e41, #f47211);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f68e41), to(#f47211));
  background-image: -webkit-linear-gradient(top, #f68e41, #f47211);
  background-image: -o-linear-gradient(top, #f68e41, #f47211);
  background-image: linear-gradient(top, #f68e41, #f47211);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f68e41', endColorstr='#f47211', GradientType=0);
}
.btn.warn:hover,
.btn.warn:focus {
  background-color: #f79d5a;
  background-image: -moz-linear-gradient(top, #faba8a, #f47211);
  background-image: -ms-linear-gradient(top, #faba8a, #f47211);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faba8a), to(#f47211));
  background-image: -webkit-linear-gradient(top, #faba8a, #f47211);
  background-image: -o-linear-gradient(top, #faba8a, #f47211);
  background-image: linear-gradient(top, #faba8a, #f47211);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faba8a', endColorstr='#f47211', GradientType=0);
}
.btn.warn:active {
  -moz-box-shadow: 0 -0.13em 0 #c85b09;
  -webkit-box-shadow: 0 -0.13em 0 #c85b09;
  box-shadow: 0 -0.13em 0 #c85b09;
}
DIV.inputField {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 #e4e4e4;
  -webkit-box-shadow: 0 -1px 0 #e4e4e4;
  box-shadow: 0 -1px 0 #e4e4e4;
  background-color: #e4e4e4;
  border: 3px solid #f3f3f3;
  border-top-width: 2px;
  clear: both;
  display: inline-block;
  font-size: 0.95em;
  float: none;
  position: relative;
  max-width: 25em;
  width: 100%;
}
DIV.inputField .inner,
DIV.inputField INPUT {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 1px 0 #e4e4e4;
  -webkit-box-shadow: 0 1px 0 #e4e4e4;
  box-shadow: 0 1px 0 #e4e4e4;
  background-color: white;
  border: 1px solid #c4c4c4;
  min-height: 2em;
  padding-left: .5em;
  width: 100%;
}
DIV.inputField INPUT,
DIV.inputField TEXTAREA {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  font-size: 0.95em;
  height: 2em;
  margin: 0;
  padding: .4em 0 .5em .5em;
}
DIV.inputField INPUT[disabled="disabled"] {
  color: #1c1c1c;
  background: #f3f3f3;
}
DIV.inputField INPUT.file {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 100;
}
DIV.inputField DIV.customFile {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #c4c4c4;
  font-size: 0.95em;
  font-weight: lighter;
  height: 2em;
  line-height: 1em;
  overflow: hidden;
  padding: .4em 0 .5em .5em;
  position: absolute;
  top: 0;
}
DIV.inputField .customFile.hasValue {
  color: #161616;
}
DIV.inputField TEXTAREA {
  display: block;
  height: 5em;
  resize: none;
}
LABEL.radioLabel {
  cursor: pointer;
  margin: 0 2em 0 .4em;
  position: relative;
  top: -0.4em;
}
INPUT[type="radio"] {
  display: none;
}
INPUT[type="radio"] + label {
  -moz-box-shadow: 0 1px 0 #e4e4e4;
  -webkit-box-shadow: 0 1px 0 #e4e4e4;
  box-shadow: 0 1px 0 #e4e4e4;
  -moz-box-shadow: inset 0 -1px 0 #e4e4e4;
  -webkit-box-shadow: inset 0 -1px 0 #e4e4e4;
  box-shadow: inset 0 -1px 0 #e4e4e4;
  background-color: white;
  border: 2px solid #c4c4c4;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin-top: .3em;
  padding: 9px;
  position: relative;
}
INPUT[type="radio"] + label:hover {
  background-color: #f3f3f3;
}
INPUT[type="radio"]:checked + label:after {
  -moz-box-shadow: 0 1px 0 #e4e4e4;
  -webkit-box-shadow: 0 1px 0 #e4e4e4;
  box-shadow: 0 1px 0 #e4e4e4;
  background-color: #b0b0b0;
  background-image: -moz-linear-gradient(top, #c4c4c4, #919191);
  background-image: -ms-linear-gradient(top, #c4c4c4, #919191);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c4c4c4), to(#919191));
  background-image: -webkit-linear-gradient(top, #c4c4c4, #919191);
  background-image: -o-linear-gradient(top, #c4c4c4, #919191);
  background-image: linear-gradient(top, #c4c4c4, #919191);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#919191', GradientType=0);
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 32px;
}
INPUT[type="radio"]:checked + label {
  background-color: white;
}
.siteForm .field {
  margin-bottom: 1em;
}
.siteForm .field UL.errorlist {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #c4c4c4;
  -webkit-box-shadow: 0 1px 0 #c4c4c4;
  box-shadow: 0 1px 0 #c4c4c4;
  -moz-text-shadow: 0 -1px 0 #b05008;
  -webkit-text-shadow: 0 -1px 0 #b05008;
  text-shadow: 0 -1px 0 #b05008;
  background-color: #f57a1f;
  background-image: -moz-linear-gradient(top, #f58029, #f47211);
  background-image: -ms-linear-gradient(top, #f58029, #f47211);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58029), to(#f47211));
  background-image: -webkit-linear-gradient(top, #f58029, #f47211);
  background-image: -o-linear-gradient(top, #f58029, #f47211);
  background-image: linear-gradient(top, #f58029, #f47211);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58029', endColorstr='#f47211', GradientType=0);
  background-color: #f58029;
  border: 1px solid #b05008;
  color: white;
  font-size: 0.85em;
  left: 3px;
  list-style-type: none;
  margin-left: 0;
  max-width: 25em;
  padding: 0 1em;
  position: relative;
  width: 100%;
}
.siteForm .field UL.errorlist:after,
.siteForm .field UL.errorlist:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.siteForm .field UL.errorlist:after {
  border-bottom-color: #f58029;
  border-width: 8px;
  left: 85%;
  margin-left: -8px;
}
.siteForm .field UL.errorlist:before {
  border-bottom-color: #b05008;
  border-width: 10px;
  left: 85%;
  margin-left: -10px;
}
.siteForm .field UL.errorlist A,
.siteForm .field UL.errorlist A:link,
.siteForm .field UL.errorlist A:visited {
  color: inherit;
  text-decoration: underline;
}
.siteForm LABEL.inputDesc {
  display: block;
  font-size: 0.95em;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin: .2em 1em .1em 0;
}
.siteForm P.inputDesc {
  font-size: 0.85em;
}
.siteForm.twoCol P {
  width: 50%;
}
.siteForm.twoCol .field {
  float: left;
  width: 50%;
}
.siteForm.twoCol .field P {
  max-width: 28em;
  width: 100%;
}
.siteForm.twoCol .field.fullWidth {
  width: 100%;
}
.chartPile DIV {
  float: left;
  margin-right: 1.5em;
}
.chartPile IMG {
  margin-right: .2em;
  position: relative;
  top: .2em;
  width: 1.2em;
}
.subbox {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f3f3f3;
  margin-bottom: 1em;
  padding: 1em;
}
.subbox DIV.inputField {
  -moz-box-shadow: 0 -1px 0 #c4c4c4;
  -webkit-box-shadow: 0 -1px 0 #c4c4c4;
  box-shadow: 0 -1px 0 #c4c4c4;
  background-color: #dedede;
  border: 3px solid #dedede;
}
CODE {
  font-size: 0.85em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  color: #398132;
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
